.container {  display: grid;
	grid-template-rows: 1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	width: 20%;
	height: 90%;
  }
  
  .friendlist { grid-area: 1 / 1 / 2 / 2; }
  
  .chatbox { grid-area: 2 / 1 / 3 / 2; }
  