/* Type: CSS */

:root {
	--pong-frame-width: 85vw;
	--pong-frame-height: 85vh;
	/* --pong-frame-width: 800;
	--pong-frame-height: 600; */
	--paddle-width: 2vW;
	--paddle-height: 15vH;


	/* pixel values: */
	--pong-frame-width-pixels: 0;
	--pong-frame-height-pixels: 0;
	--paddle-height-pixels: 0;
}

.pong-frame {
	position: relative;
	width: 85vw;
	height: 85vh;
	background-color: rgb(22, 72, 48);
}

.centre-line {

	position: absolute;
	width: 1px;
	height: 85vh;
	background-color: rgb(255, 255, 255);
	left: calc(var(--pong-frame-width) / 2 - 1px);
	z-index: 2;
}

/* 
.paddle {

	position: absolute;
	height: var(--paddle-height);
	width: var(--paddle-width);

} */

.paddle-left {

	position: absolute;
	top: calc(var(--pong-frame-height) / 2 - var(--paddle-height) / 2);
	right: 20px;
	height: var(--paddle-height);
	width: var(--paddle-width);
	background-color: rgb(255, 255, 255);
}

.paddle-right {

	position: absolute;
	top: calc(var(--pong-frame-height) / 2 - var(--paddle-height) / 2);
	/* height / 2 - paddle size */
	left: 20px;
	height: 15vH;
	width: 2vW;
	background-color: rgb(255, 255, 255);
}

.pong-ball {

	position: absolute;
	width: 20px;
	height: 20px;
	background-color: rgb(255, 255, 255);
	left: calc(var(--pong-frame-width) / 2 - 2.5vW);
	top: calc(var(--pong-frame-height) / 2 - 2.5vH);
	z-index: 1;

}