/* Type: CSS */

:root {
	--pong-frame-width: 80vw;
	--pong-frame-height: 85vh;

	/* pixel values: */
	/* --pong-frame-width-pixels: 0;
	--pong-frame-height-pixels: 0;
	--paddle-height-pixels: 0; */
}

.pong-frame {
	/* margin: 0;  */
	/* height: 100%;  */
	overflow: hidden;
	position: relative;
	height: var(--pong-frame-height);
	width: var(--pong-frame-width);
	background-color: rgb(0, 0, 0);
}

.h-centre-line {

	position: absolute;
	height: 1px;
	width: 85vw;
	background-color: rgba(255, 255, 255, 0.41);
	left: 0;
	top: calc(var(--pong-frame-height) / 2 - 1px);
	z-index: 2;
}

.centre-line {

	position: absolute;
	width: 1px;
	height: 85vh;
	background-color: rgba(255, 255, 255, 0.239);
	left: calc(var(--pong-frame-width) / 2 - 1px);
	z-index: 2;
}

.paddle-left {

	position: absolute;
	background-color: rgb(255, 255, 255);
}

.paddle-right {

	position: absolute;
	background-color: rgb(255, 255, 255);
}

.score {

	position: absolute;
	color: rgb(255, 255, 255);
	background-color: var(--pong-frame-background-color);
	font: 2rem 'Press Start 2P', cursive;
	z-index: 2;
}

.pong-ball {

	position: absolute;
	width: 2%;
	height: 2%;
	background-color: rgb(255, 255, 255);
	left: calc(var(--pong-frame-width) / 2 - width / 2);
	top: calc(var(--pong-frame-height) / 2 - height / 2);
	z-index: 1;
	border-radius: 50%;
}