.main-body
{
	justify-content: center;
	text-align: center;
	font-family: fantasy;
	color:white;
}

.size
{
	font-size: 2rem;
}

.modal
{
	display:none;
	position:fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100;
	height: 100;
	overflow: auto;
	background-color: #474e5d;
	padding-top: 50px;
}