.button {
	margin-left: 30%;
	margin-top: 10%; 
	background-color: transparent;
	outline: none;
}

.default {
	border: 3px rgba(0, 0, 0, 0);
}

.click {
	position: fixed;
	border: 3px rgb(255, 0, 0)
}