.button {
	margin-left: 35%;
	margin-top: 30%; 
	background-color: transparent;
	outline: none;
}

.default {
	border: 3px rgba(0, 0, 0, 0);
}

.text {
	font-family: fantasy;
	font-size: 32px;
	color: aquamarine;
}

.click {
	font-family: fantasy;
	font-size: 34px;
	color: blue;
}