.all-friends
{
	position: fixed;
	margin-top: 60px;
	margin-left: 85%;
	border-spacing: 10px;
	min-height: 3rem;
	min-width: 7rem;
	height: 1rem;
	width: 7rem;
	color: white;
}

.friend-card
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	background-color: rgb(38, 37, 37);
}

.ONLINE {
	color: green;
}

.OFFLINE {
	color: grey;
}

.BUSY {
	color: rgb(165, 0, 0);
}

.INGAME {
	color: rebeccapurple;
}