.all-friends
{
	position: fixed;
	margin-left: 85%;
	margin-top: 50px;
	min-height: 50px;
	height: 1rem;
	width: 7rem;
	color: white;
}

.friend-card
{
	height: 100%;
	width: 100%;
	display: flex;
	padding: 1.5px;
	position: relative;
	background-color: rgb(38, 37, 37);
}

/* .friend-card:active
{
	background-color:red;
} */

.greenfriend{
	background-color:green;
}

.redfriend{
	background-color:red;
}

.online {
	margin-left: 10px;
	color: green;
}

.offline {
	margin-left: 10px;
	color: grey;
}

.busy {
	margin-left: 10px;
	color: rgb(165, 0, 0);
}

.ingame {
	margin-left: 10px;
	color: rebeccapurple;
}