.all-friends
{
	position: fixed;
	margin-left: 85%;
	margin-top: 50px;
	min-height: 50px;
	height: 1rem;
	width: 7rem;
	color: white;
}

.friend-card
{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	background-color: rgb(38, 37, 37);
}

.online {
	margin-left: 10px;
	color: green;
}

.offline {
	margin-left: 10px;
	color: grey;
}

.busy {
	margin-left: 10px;
	color: rgb(165, 0, 0);
}

.ingame {
	margin-left: 10px;
	color: rebeccapurple;
}