.add-block-btn{
	height:100%;
	width:100%;
	/* justify-content: right; */
	/* align-items: right; */
	/* text-align: right; */
	/* box-sizing: content-box; */
	/* min-width: 100%; */
	/* max-width: 100%; */
	font-size: 1rem;
	color: white;
	text-shadow: 0 1px 0 rgb(0, 0, 0);
	font-weight:bold;
  }

  .self-block{
	background-color: rgb(63, 61, 64);
  }
  .add-block{
	background-color: rgb(43, 166, 194);
  }

  .remove-block{
	background-color: rgb(168, 10, 18);
  }