  .searchform{
	display:flex;
	padding-right: 5rem;
  }

  .searchinput{
	font-size: 1rem;
	background-color: lightgray;
  }

  .searchbutton{
	color:white;
	font-size: 1rem;
	background-color:rgb(10, 103, 143)
  }

  .searchbutton{
	cursor:pointer;
  }
  