.my-navbar {
	top: 0;
	left: 0;
	margin: 0px;
	width: 100%;
	min-height: 60px;
	background: linear-gradient(to right, rgb(38, 37, 37) 25%, rgb(38, 37, 37), white);
	border-image: linear-gradient(to right, white, rgba(56, 2, 155, 0) 25%);
	border-bottom: 2px solid transparent;
	border-image-slice: 1;
	width: 100%;
}

.website {
	position: absolute;
	font-size: 30px;
	color: white;
	text-shadow: 1px;
}

.my-navbar-text {
	position: flex;
	font-size: 30px;
	color: red;
}

.pfp-flex-box {
	display: flex;
	align-items: center;
}

.pfp-flex-box p {
	margin: 10px;
	font-size: 25px;
	text-align: center;
	top: 100%;
}

.pfp-button {
	background-color: transparent;
	outline: none;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.pfp-button:hover
{
	cursor:pointer;
}

.pfp-circle-image {
	position: absolute;
	top: 48%;
	transform: translate(-50%, -50%);
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.pfp-popover {
	position: absolute;
	top:3%;
	right: 0;
	transform: translateY(-50%);
	/* background-color: white; */
	/* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
	padding: 1rem;
	z-index: 8;
}

.pfp-popover-content {
	position: absolute;
	right: 2px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.pfp-popover-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	display: inline-block;
	margin-right: 10px;
}

.pfp-popover-content a.hovered {
	text-decoration: underline;
	border-width: 2px;
}