.all-matches
{
	padding-left: 30%;
	padding-right: 10%;
	/* position: fixed; */
	/* min-height: 100px; */
	max-height: 750px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 80%;
	color: white;
	font-size: 1.5rem;
	color-scheme: dark;
	/* font-size: 1rem; */
}

.monospace
{
	font-family: "Courier New", Courier, monospace;
}

.matchesCenter
{
	padding-left:10%;
	color:white;
	font-size:2rem;
	text-align: center;
}

.match-card
{
	/* height:100%; */
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
	background-color:rgb(38, 37, 37);
	z-index: 1;
	transition: transform 0.3s ease-in-out;
	/* font-size: 1rem; */
}

.greenborder
{
	border-left: 3px solid rgb(23, 124, 23);
	border-right: 3px solid rgb(38, 37, 37);
	z-index: 0;
}

.greenborder:hover
{
	animation: green-slide-in .3s forwards;
	opacity: 1.00;
	transform: scale(1.1);
	border: 3px solid rgb(23, 124, 23);
	background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 99%);
	z-index: 2;
}

.greenborder:not(:hover)
{
	animation: green-slide-out .3s forwards;
	opacity: .5;
	background: rgb(38, 37, 37);
}

.redborder
{
	border-left: 3px solid rgb(38, 37, 37);
	border-right: 3px solid rgb(176, 37, 37);
	z-index: 0;
}

.redborder:hover
{
	animation: red-slide-in .3s forwards;
	opacity: 1.00;
	transform: scale(1.1);
	border: 3px solid rgb(176, 37, 37);
	background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 99%);
	z-index: 2;
}

.redborder:not(:hover)
{
	animation: red-slide-out .3s forwards;
	opacity: .5;
	background: rgb(38, 37, 37);
}

.green
{
	color: rgb(23, 124, 23);
}

.red
{
	color: rgb(176, 37, 37)
}

.left-player
{
	max-width:	10%;
	display: flex;
  	flex-direction: column;
  	align-items: left;
}

.left-player img
{
	padding-left:10px;
	text-align: left;
	vertical-align: bottom;
	max-height:100%;
	max-width: 100%;
	object-fit: contain;
	margin-bottom: auto;
	margin-top: auto;
}

.left-player p
{
	text-align: left;
	margin-top: auto;
}

.center-score
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 2rem;
	/* line-heig	ht: 0px; */
}

.center-score h1
{
	/* padding-top: 10px; */
	margin: 0;
	/* font-size: 20px; */
}

.center-row
{
	width: 100px;
	display:flex;
	font-size: 25px;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	line-height: 0px;
}

.gamemode
{
	margin:0px;
}

.right-player
{
	/* max-height: 100%; */
	max-width:	10%;
	display: flex;
  	flex-direction: column;
  	align-items: right;
	text-align: right;
}

.right-player img
{
	padding-right: 10px;
	text-align: right;
	vertical-align: bottom;
	max-height:100%;
	max-width: 100%;
	object-fit: contain;
	margin-bottom: auto;
	margin-top: auto;
}

.right-player p
{
	text-align: right;
	direction:rtl;
	margin-top: auto;
}


/* Animations are big and clunky therefore at the bottom away from all other css */
@keyframes red-slide-in
{
	0%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 0%);
	}
	10%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 10%);
	}
	20%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 20%);
	}
	30%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 30%);
	}
	40%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 40%);
	}
	50%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 50%);
	}
	60%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 60%);
	}
	70%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 70%);
	}
	80%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 80%);
	}
	90%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 90%);
	}
	100%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 99%);
	}
}

@keyframes red-slide-out
{
	0%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 99%);
	}
	10%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 90%);
	}
	20%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 80%);
	}
	30%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 70%);
	}
	40%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 60%);
	}
	50%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 50%);
	}
	60%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 40%);
	}
	70%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 30%);
	}
	80%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 20%);
	}
	90%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 10%);
	}
	100%{
		background: linear-gradient(to left,rgb(176, 37, 37), rgb(38, 37, 37), rgb(38, 37, 37) 0%);
	}
}

@keyframes green-slide-out
{
	0%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 99%);
	}
	10%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 90%);
	}
	20%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 80%);
	}
	30%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 70%);
	}
	40%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 60%);
	}
	50%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 50%);
	}
	60%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 40%);
	}
	70%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 30%);
	}
	80%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 20%);
	}
	90%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 10%);
	}
	100%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 0%);
	}	
}

@keyframes green-slide-in 
{
	0%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 0%);
	}
	10%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 10%);
	}
	20%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 20%);
	}
	30%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 30%);
	}
	40%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 40%);
	}
	50%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 50%);
	}
	60%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 60%);
	}
	70%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 70%);
	}
	80%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 80%);
	}
	90%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 90%);
	}
	100%{
		background: linear-gradient(to right,rgb(23, 124, 23), rgb(38, 37, 37), rgb(38, 37, 37) 99%);
	}	
}