#chat-history, #channel-list {
	overflow: auto;
	padding: 5px;
}

#chat-history {
	min-height: 3rem;

	scrollbar-color: lightslategray transparent;
	scrollbar-width: thin;
	display: flex;
	flex-direction: column-reverse;
}

#chat-history::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

#chat-history::-webkit-scrollbar-thumb {
    background: lightslategray;
	border-radius: 6px;
}

.chat-area {
	top: 100%;
	position: sticky;
}
@-moz-document url-prefix() {
	/* Firefox being dumb with position sticky and top within a flex */
	.chat-area {
		top: auto;
	}
}

#message-input {
	resize: none;
	width: -webkit-fill-available;
	width: -moz-available;
}

.message {
	box-shadow: 0 1px 0 lightblue ;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.message sub {
	font-size: x-small;
}

.message-header {
	display: flex;
	justify-content: space-between;
	color: dodgerblue;
}
.message-header > a {
	color: dodgerblue;
	text-decoration: none;
}

.join-message {
	text-align: center;
}

.leftalign{
	text-align: left;;
}

.rightalign{
	text-align: right;
}