.friend-card
{
	height: 100%;
	display: flex;
	padding: 1.5px;
	position: relative;
	background-color: rgb(38, 37, 37);
	align-items: center;
}

.friend-card > p {
	margin: 0;
	font-size: 1.5em;
}

.online {
	color: green;
}

.offline {
	color: grey;
}

.busy {
	color: rgb(165, 0, 0);
}

.ingame {
	color: rebeccapurple;
}

.inqueue {
	color: rgb(54, 42, 133);
}

.fpfp-flex-box {
	display: flex;
	align-items: center;
}

.fpfp-flex-box p {
	margin: 10px;
	font-size: 25px;
	text-align: center;
	top: 100%;
}

.fpfp-button {
	background-color: transparent;
	outline: none;
	border-radius: 50%;
	min-height: 50px;
	min-width: 50px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

}

.fpfp-circle-image {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.fpfp-circle-image:hover{
	cursor:pointer;
}

.fpfp-popover {
	position: relative;
}

.fpfp-popover[data-headlessui-state="open"] {
	z-index: 1;
}

.fpfp-popover-content {
	position: absolute;
	left: 5px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.fpfp-popover-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	display: inline-block;
	margin-right: 10px;	
}

.fpfp-popover-content a.hovered {
	text-decoration: underline;
	border-width: 2px;
}

.fmylink{
	font-size:1.5rem;
	color:black;
}

.fmylink:hover{
	cursor:pointer;
	text-decoration: underline;
}