/* .achievement-card
{
	height:100px;
	width: 400px;
	border: 1px solid white;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
} */
.monospace {
	font-family: "Courier New", Courier, monospace;
}
.achievement-cardgreen
{
	height:100px;
	width: 300px;
	/* border: 3px solid white; */
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border-left: 3px solid rgb(23, 124, 23);
	border-right: 3px solid transparent;
	transition: transform 0.3s ease-in-out;
	/* border-left-color: green; */
}

.achievement-cardgreen:hover
{
	animation: green-slide-in .3s forwards;
	opacity: 1.00;
	transform: scale(1.1);
	background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 99%);
}

.achievement-cardgreen:not(:hover)
{
	animation: green-slide-out .3s forwards;
	opacity: .5;
	background: transparent;
}


.achievement-cardred
{
	height:100px;
	width: 300px;
	/* border: 3px solid white; */
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	transition: opacity 1.0s ease;
	opacity: .50;
	/* border-right-color: red; */
	border-left: 3px solid transparent;
	border-right: 3px solid rgb(176, 37, 37);
	transition: transform 0.3s ease-in-out;
}

.achievement-cardred:hover
{
	animation: red-slide-in .3s forwards;
	opacity: 1.00;
	transform: scale(1.1);
	background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 99%);
}

.achievement-cardred:not(:hover)
{
	animation: red-slide-out .3s forwards;
	opacity: .5;
	background: transparent;
}

.victory-lossgreen
{
	color: rgb(23, 124, 23);
}

.victory-lossred
{
	color: rgb(176, 37, 37)
}

.left-player
{
	height: 100px;
	width:	100px;
	flex-direction: column;
	/* border: 1px solid pink; */
}

.left-player img
{
	text-align: left;
	vertical-align: bottom;
	height:75px;
	width: 75px;
}

.left-player p
{
	text-align: center;
	margin-top: 5px;
	padding-right: 7px;
	/* left: 5%; */
}

.center-score
{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* line-heig	ht: 0px; */
}

.center-score h1
{
	/* padding-left: 15px; */
	padding-top: 10px;
	/* padding-left: 5px; */
	margin: 0; /* remove default margin */
	/* padding: 10px; */
	font-size: 20px;
}

.center-row
{
	width: 100px;
	display:flex;
	font-size: 25px;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	line-height: 0px;
}

.gamemode
{
	/* padding-left:	 15px; */
	margin:0px;
	/* padding-bottom: 100px; */
}

.right-player
{
	height: 100px;
	width:	100px;
	/* border: 1px solid pink; */
}

.right-player img
{
	padding-left: 10px;
	text-align: right;
	vertical-align: bottom;
	height:75px;
	width: 75px;
}

.right-player p
{
	text-align: center;
	margin-top: 5px;
	/* padding-right: 7px; */
	/* left: 5%; */
}


/* Animations are big and clunky therefore at the bottom away from all other css */
@keyframes red-slide-in{
	0%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 0%);
	}
	10%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 10%);
	}
	20%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 20%);
	}
	30%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 30%);
	}
	40%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 40%);
	}
	50%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 50%);
	}
	60%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 60%);
	}
	70%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 70%);
	}
	80%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 80%);
	}
	90%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 90%);
	}
	100%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 99%);
	}
}

@keyframes red-slide-out{
	0%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 99%);
	}
	10%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 90%);
	}
	20%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 80%);
	}
	30%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 70%);
	}
	40%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 60%);
	}
	50%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 50%);
	}
	60%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 40%);
	}
	70%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 30%);
	}
	80%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 20%);
	}
	90%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 10%);
	}
	100%{
		background: linear-gradient(to left,rgb(176, 37, 37), transparent, transparent 0%);
	}
}

@keyframes green-slide-out {
	0%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 99%);
	}
	10%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 90%);
	}
	20%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 80%);
	}
	30%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 70%);
	}
	40%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 60%);
	}
	50%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 50%);
	}
	60%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 40%);
	}
	70%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 30%);
	}
	80%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 20%);
	}
	90%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 10%);
	}
	100%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 0%);
	}	
}

@keyframes green-slide-in {
	0%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 0%);
	}
	10%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 10%);
	}
	20%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 20%);
	}
	30%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 30%);
	}
	40%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 40%);
	}
	50%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 50%);
	}
	60%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 60%);
	}
	70%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 70%);
	}
	80%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 80%);
	}
	90%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 90%);
	}
	100%{
		background: linear-gradient(to right,rgb(23, 124, 23), transparent, transparent 99%);
	}	
}