.container {  display: grid;
	grid-template-columns: 1.3fr 0.7fr 1.1fr 0.9fr 1fr 1fr 1fr;
	grid-template-rows: 0.4fr 0.6fr 1.5fr 0.3fr 2.2fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "NA Name Name Name Name Name Search"
	  "NA NONE1 SelectBar SelectBar SelectBar SelectBar NONE2"
	  "Profile FLEXBOX FLEXBOX FLEXBOX FLEXBOX FLEXBOX FLEXBOX"
	  "Add-Friend FLEXBOX FLEXBOX FLEXBOX FLEXBOX FLEXBOX FLEXBOX"
	  "Stats FLEXBOX FLEXBOX FLEXBOX FLEXBOX FLEXBOX FLEXBOX";
	margin-left: 5%;
	width: 80%;
	height: 80%;
  }
  
  .SelectBar {
	justify-self: center;
	align-self: center;
	grid-area: SelectBar;
  }
  
  .Name {
	justify-self: center;
	align-self: end;
	grid-area: Name;
  }
  
  .Profile {
	justify-self: center;
	align-self: center;
	grid-area: Profile;
	position: relative;
  }

  .PFP {
	max-height: 300px;
	max-width: 500px;
	object-fit: contain;
  }

  .PFP-Border{
	position:absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	/* border-bottom: 4px solid gray; */
	overflow: hidden;
  }
  
  .Add-Friend { 

	/* align-self: center; */
	width:80%;
	justify-self: center;
	grid-area: Add-Friend; 
  }

  .Stats { grid-area: Stats; }
  
  .FLEXBOX { 
	grid-area: FLEXBOX;
	justify-self: start;
  	align-self: start;
}
  
  .Search {
	justify-self: end;
	align-self: center;
	grid-area: Search;
  }
  
  .NA { grid-area: NA; }